body#enter {background-image: url('https://lh3.google.com/u/6/d/1X6v96zbEq0L5w3bUEX3h9elBxsNYjPml=w2682-h848-iv2');}

body#grove, body#grove .reverse {background-image: url('https://lh3.google.com/u/6/d/1P8ZGZ8Lme1XF4WQ0eEx0A0ArzZ3VcQIJ=w2682-h1338-iv2');}
body#grove.hole {background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/31451d4f8031ef4e1c7681d8fb1e807c/photo-1634584374981-78e895954580.jpg');}
body#grove.tree {background-image: url('https://images.unsplash.com/photo-1493166228553-4fa0fdb916e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3270&q=80');}
body#grove.sound {background-image: url('https://images.unsplash.com/photo-1628353524525-3acbbf318174?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3387&q=80');}
body#grove.sound {
  background-position: 0 0; /* Initial shift amount in pixels */
}


body#path {background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/a8ac47e7e887e6e91e4556fffcb4f82f/photo-1507139722691-cc2c94e3a2b2.jpg');}
body#path1 {background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/00b207d4cccd1f5d104b210891878855/photo-1526749837599-b4eba9fd855e.jpg');}
body#path2 {background-image: url('https://images.unsplash.com/photo-1500673922987-e212871fec22?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3270&q=80');}

/*
Rock with number: body#grove.tree {background-image: url('');}
body#grove.tree {background-image: url('');}
body#grove.tree {background-image: url('');}
body#grove.tree {background-image: url('');}
body#grove.tree {background-image: url('');}
body#grove.tree {background-image: url('');}
body#grove.tree {background-image: url('');}
*/

.b {
    background-position: bottom !important;
  }

  @keyframes zoom {
    0% {
      background-size: 100%;
    }
    100% {
      background-size: 150% !important;
    }
  }
  
.zoom {
    animation: zoom 5s forwards;
  }
.reverse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* transform: scaleX(-1); /* Reverse the background image horizontally */
  }
  

/*
Original Locations:

Index:
body#enter {background-image: url('https://images.unsplash.com/photo-1516528387618-afa90b13e000');}

Grove:
body#grove, body#grove .reverse {background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2405x1600/34c7ce009520488615b698462b20ed65/photo-1603882924554-4def74ff2aec.jpg');}
body#grove.hole {background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/31451d4f8031ef4e1c7681d8fb1e807c/photo-1634584374981-78e895954580.jpg');}
body#grove.tree {background-image: url('https://images.unsplash.com/photo-1493166228553-4fa0fdb916e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3270&q=80');}
body#grove.sound {background-image: url('https://images.unsplash.com/photo-1628353524525-3acbbf318174?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3387&q=80');}

Sunlit:
body#path {background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/a8ac47e7e887e6e91e4556fffcb4f82f/photo-1507139722691-cc2c94e3a2b2.jpg');}
body#path1 {background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/00b207d4cccd1f5d104b210891878855/photo-1526749837599-b4eba9fd855e.jpg');}
body#path2 {background-image: url('https://images.unsplash.com/photo-1500673922987-e212871fec22?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3270&q=80');}

*/