body {
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#000;
  background-attachment: fixed !important;
  overflow: hidden;
}

.lb {
  background-position: left bottom !important;
}

.container {
  max-width: 400px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  border-radius: 10px;
  border: 2px solid #000;
  margin: 20px;
  font-family: Arial, sans-serif;
  min-height:567px;
}

.container h1, .container p {
  color: #fff;
  text-align: center;
}

.container button {
  color: #fff;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.container button:hover {
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.container button:active {
  transform: translateY(2px);
}

.container .button-container {
    display: flex;
    justify-content: center;
  }
  
  /* Button Colors */

  #enter .container button {background-color: #006400;}
  #enter .container button:hover {background-color: #004f00;}

  #grove .container button {background-color: #1f4359;}
  #grove .container button:hover {background-color: #18314a;}

  #path .container button {background-color: #196e47;}
  #path .container button:hover {background-color: #135032;}

  
