body {
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#000;
  background-attachment: fixed !important;
  overflow: hidden;
  margin:0;
  padding:0;
}

.container {
  position:relative;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  border-radius: 10px;
  border: 2px solid #000;
  margin: 20px;
  font-family: Arial, sans-serif;
  min-height:567px;
}

.container h1 {
  color: #fff;
  text-align: center;
}
.container p {
  color: #fff;
  text-align: left;
}

.container button {
  color: #fff;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.container button:hover {
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.container button:active {
  transform: translateY(2px);
}

.container .button-container {
    display: flex;
    justify-content: center;
  }
  
  /* Button Colors */
  #enter .container button {background-color: #006400;}
  #enter .container button:hover {background-color: #004f00;}

  #grove .container button {background-color: #1f4359;}
  #grove .container button:hover {background-color: #18314a;}

  #path .container button {background-color: #196e47;}
  #path .container button:hover {background-color: #135032;}

  button.inactive {background-color:#666 !important}
  button.inactive:hover {background-color: #666 !important;}

  /* *********************************************************** */
  /* ************* Everything below is nav related ************* */
  /* *********************************************************** */
  
  /* Icon Generator: https://thenounproject.com/icon/backpack-2551/ */

  #clearsession {
  position:absolute;
  bottom:10px;
  right:10px;
  }

  #nav {
    position:absolute;
    top:0;
    right:-50px;
    display:none;
  }

  #items {
    position:absolute;
    top:0;
    right:-50px;
    display:none;
  }

  #items img {width:35px;height:35px;}

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-content {
    background-color: #fff;
    padding: 20px;
  }
  
  /* Add any additional styling for the overlay content */
  