body {
    background-image: url('https://images.unsplash.com/photo-1516528387618-afa90b13e000');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container h1, .container p {
    color: #333;
    font-family: "Trebuchet MS", Arial, sans-serif;
  }
  
  .container {
    max-width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-family: "Trebuchet MS", Arial, sans-serif;
  }
  
  .container button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: "Trebuchet MS", Arial, sans-serif;
  }
  